<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
  <head>
    <style type="text/css">
      .user{
        margin-left: 620px;
      }
      .header{
        background-color: #ececec;
        display: flex;
        justify-content: space-between;
      }
      .header ul{
        display: flex;
        list-style-type: none;

      }
      .header ul li{
        padding: 20px;
      }
      .header ul li a{
        color: black;
        font-size: 20px;
        text-decoration: none;
      }
    </style>
    <meta charset="UTF-8">
    <title>Company</title>
  </head>
<body>
<div class="header">
  <ul class="Home">
    <h1 class="user">Add new employee</h1>
  </ul>
</div> <hr> <br>

</body>
<meta charset="UTF-8">
<title>Add user</title>
</head>
  <meta charset="UTF-8">
  <title>Add Employee</title>
</head>
<body>
<form action="/employee/add" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="name"><br>
  <input type="text" name="surname" placeholder="surname"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="number" name="phoneNumber" placeholder="phoneNumber"><br>
  <input type="number" name="salary" placeholder="salary"><br>
  <input type="text" name="position" placeholder="position"><br>
  <label for="employeeImage">Employee</label>
  <input type="file" name="employeeImage" id="employeeImage"><br>
  <select name="company.id">
    <option th:each="company:${companies}" th:text="${company.name}" th:value="${company.id}"></option>
  </select>
  <input type="submit" value="add employee">

</form>
</body>
</html>