<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <style type="text/css">
    .header{
      background-color: #ececec;
      display: flex;
      justify-content: space-between;
    }
    .header ul{
      display: flex;
      list-style-type: none;

    }
    .header ul li{
      padding: 20px;
    }
    .header ul li a{
      color: black;
      font-size: 20px;
      text-decoration: none;
    }
  </style>
  <meta charset="UTF-8">
  <title>Company</title>
</head>
<body>
<div class="header">
  <ul class="Home">
    <li><a href="/companies/add"> Add Company </a></li>
    <li><a href="/employees"> Employee </a></li>
    <li><a href="/">Logout</a></li>
  </ul>
</div> <hr> <br>

<table class="table" border="1px">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>address</th>
    <th>size</th>
    <th>remove</th>

  </tr>
  <tr th:each="companies: ${company}">
    <td th:text="${companies.id}"></td>
    <td th:text="${companies.name}"></td>
    <td th:text="${companies.address}"></td>
    <td th:text="${companies.size}"></td>
    <td>i
      <a th:href="@{/company/delete(id=${companes.id})}">delete</a>
    </td>
  </tr>
</table>

</body>
</html>